<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="medium" color="#fff" type="ball-scale-multiple">
    <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
<div class="animated fadeIn">
    <div class="container">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    Broad Cast For Memberships
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-6">
                            <div class="row form-group">
                                <label class="col-sm-3">Studio Id</label>
                                <div class="col-sm-6">
                                    <select name="broadcast" id="" [(ngModel)]="broadcastSelectedId">
                                        <option [ngValue]="undefined" disabled>Select Studio id</option>
                                        <option *ngFor=" let broadcast of broadcastIds " [ngValue]="broadcast.studioID">{{broadcast.studioID}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row form-group">
                                <label class="col-sm-3">Text to Send</label>
                                <div class="col-sm-5">
                                    <textarea name="text-send" placeholder="Write Sms Text" id="" cols="42" rows="6"
                                        [(ngModel)]="textToSend"></textarea>
                                        <small class="form-text text-muted"><code *ngIf="textToSend">{{textToSend.length}}</code><code *ngIf="!textToSend">0</code> of <code>160</code> characters</small>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-2"></div>
                                <div class="col-md-3">
                                    <button type="submit" class="btn btn-primary" style="margin-left: 42px" (click)="sendBroadcastSmsToMembership()"
                                        value="Submite">Send Sms</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>