<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="medium" color="#fff" type="ball-scale-multiple">
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>

<ng2-toasty [position]="'top-right'"></ng2-toasty>

<div class="card-body">
  <div class="row">
    <div class="col-6 col-sm-4 col-md text-center">
      <button (click)=" removeFields();addOrUpdateEmployee.show()" class="btn btn-primary" style="float: right;"><i
          class="fa fa-lightbulb-o"></i>&nbsp;Add
        Employee</button>
    </div>
  </div>
</div>

<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i>Employee List
        </div>
        <div class="card-body">
          <p-table #dt [columns]="cols" [value]="employeeDetails" [paginator]="true" [rows]="4">
            <ng-template pTemplate="caption">
              <div style="text-align: right">
                <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                <input type="text" pInputText size="50" placeholder="Global Filter" (input)="dt.filterGlobal($event.target.value, 'contains')"
                  style="width:auto">
              </div>
            </ng-template>
            <ng-template pTemplate="header">
              <tr>
                <th *ngFor="let col of cols" [pSortableColumn]="col.field">
                  {{col.header}}
                  <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order"
                    ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                </th>
                <th>Edit</th>
                <th>Delete</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-i="rowIndex" let-data>
              <tr>
                <td *ngFor="let col of cols">
                  {{ col.type ? col.type.transform(data[col.field], col.arg1, col.arg2, col.arg3) : data[col.field] }}
                </td>
                <td href="#" data-toggle="modal" (click)="addOrUpdateEmployee.show();editEmployee(data,i)"><i class="fa fa-edit"
                    style="color:orange;font-size: 20px;text-align:center"></i></td>
                <td href="#" data-toggle="modal" (click)="dangerModal.show();DeleteEmployee(data,i)"><i class="fa fa-trash"
                    style="color:red;font-size: 20px"></i></td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
  </div>
</div>

<div bsModal #addOrUpdateEmployee="bs-modal" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="row">
        <div class="col-md-12">
          <div class="card" style="margin-bottom: 0;">
            <div *ngFor="let alert of alertsDismiss">
              <b>
                <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout">{{ alert.msg }}</alert>
              </b>
            </div>
            <div class="card-header">
              <strong *ngIf="!employeeData.employee_id">Add Employee</strong>
              <strong *ngIf="employeeData.employee_id">Edit Employee</strong>
              <button type="button" class="close" (click)="addOrUpdateEmployee.hide();backupData()">&times;</button>
            </div>
            <div class="card-body">
              <form [formGroup]="employeeForm">
                <div class="input-group mb-2">
                  <div class="input-group-prepend">
                    <span class="input-group-text">First Name</span>
                  </div>
                  <input type="text" formControlName="employeeFirstName" maxlength="50" class="form-control"
                    placeholder="First Name" [(ngModel)]="employeeData.emp_firstname" [ngClass]="{ 'is-invalid': submitted && f.employeeFirstName.errors }">
                  <div *ngIf="submitted && f.employeeFirstName.errors" class="invalid-feedback">
                    <div *ngIf="f.employeeFirstName.errors.required" style="color:red">First Name is required</div>
                  </div>
                </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Last Name</span>
                  </div>
                  <input type="text" formControlName="employeeLastName" maxlength="50" class="form-control" placeholder="Last Name"
                    [(ngModel)]="employeeData.emp_lastname" [ngClass]="{ 'is-invalid': submitted && f.employeeLastName.errors }">
                  <div *ngIf="submitted && f.employeeLastName.errors" class="invalid-feedback">
                    <div *ngIf="f.employeeLastName.errors.required" style="color:red">Last Name is required</div>
                  </div>
                </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Mobile </span>
                  </div>
                  <input type="number" maxlength="12" formControlName="Phone" class="form-control" placeholder="Mobile"
                    [(ngModel)]="employeeData.emp_mobile" [ngClass]="{ 'is-invalid': submitted && f.Phone.errors }">
                  <div *ngIf="submitted && f.Phone.errors" class="invalid-feedback">
                    <div *ngIf="f.Phone.errors.required" style="color:red">Phone Number is required</div>
                  </div>
                </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Branch Name </span>
                  </div>
                  <input type="text" formControlName="employeeBranch" class="form-control" placeholder="Branch Name"
                    [(ngModel)]="employeeData.emp_branch" [ngClass]="{ 'is-invalid': submitted && f.employeeBranch.errors }">
                  <div *ngIf="submitted && f.employeeBranch.errors" class="invalid-feedback">
                    <div *ngIf="f.employeeBranch.errors.required" style="color:red">Employee Branch is required</div>
                  </div>
                </div>

                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Address</span>
                  </div>
                  <textarea type="text" maxlength="500" formControlName="employeeAddress" rows="5" class="form-control"
                    placeholder="Address" name="emp_address" [(ngModel)]="employeeData.emp_address" [ngClass]="{ 'is-invalid': submitted && f.employeeAddress.errors }"
                    required></textarea>
                  <div *ngIf="submitted && f.employeeAddress.errors" class="invalid-feedback">
                    <div *ngIf="f.employeeAddress.errors.required" style="color:red">Employee Address is required</div>
                  </div>
                </div>

                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Email</span>
                  </div>
                  <input type="text" maxlength="50" class="form-control" formControlName="Email" placeholder="Email"
                    [(ngModel)]="employeeData.emp_email" [ngClass]="{ 'is-invalid': submitted &&f.Email.errors }">
                  <div *ngIf="submitted && f.Email.errors" class="invalid-feedback">
                    <div *ngIf="f.Email.errors.required" style="color:red">Email is required</div>
                  </div>
                </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Password</span>
                  </div>
                  <input type="password" maxlength="50" class="form-control" formControlName="Password" placeholder="Password"
                    [(ngModel)]="employeeData.emp_password" [ngClass]="{ 'is-invalid': submitted && f.Password.errors }">
                  <div *ngIf="submitted && f.Password.errors" class="invalid-feedback">
                    <div *ngIf="f.Password.errors.required" style="color:red">Password is required</div>
                  </div>
                </div>
                <div *ngIf="employeeData.employee_id">
                  <div class="form-group row">
                    <label class="col-md-2 col-form-label" for="text-input">Status</label>
                    <div class="col-md-8">
                      <select class="form-control" name="vehicletype1" [(ngModel)]="employeeData.emp_status"
                        [(ngModel)]="showMoreControls" [ngModelOptions]="{standalone: true}">
                        <option value="1">Active</option>
                        <option value="0">In active</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="form-group pull-right">
                  <span *ngIf="!employeeData.employee_id">
                    <button class="btn btn-success" (click)="addOrUpdateEmployees()">Add</button> &nbsp; &nbsp;
                  </span>
                  <span *ngIf="employeeData.employee_id">
                    <button class="btn btn-success" (click)="addOrUpdateEmployees()">Update</button>&nbsp; &nbsp;
                  </span>
                  <button type="button" id="CloseButton" class="btn btn-secondary" (click)="addOrUpdateEmployee.hide();backupData()">Close</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngFor="let alert of alertsDismiss">
  <b>
    <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout">{{ alert.msg }}</alert>
  </b>
</div>

<div bsModal #dangerModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header" style="background-color:#EC8D8D">
        <h4 class="modal-title">Delete Employee</h4>
        <button type="button" class="close" (click)="dangerModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure to Delete ?</p>
      </div>
      <div class="container">
        <table class="table table-bordered table-striped table-sm" style="padding:10px;">
          <thead>
            <tr>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Address</th>
              <th>Mobile</th>
              <th>Email</th>
              <th>Branch</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="deleteRecord">
              <td>{{deleteRecord.emp_firstname}}</td>
              <td>{{deleteRecord.emp_lastname}}</td>
              <td>{{deleteRecord.emp_address}} </td>
              <td>{{deleteRecord.emp_mobile}}</td>
              <td>{{deleteRecord.emp_email}}</td>
              <td>{{deleteRecord.emp_branch}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="dangerModal.hide()">Close</button>
        <button type="button" class="btn btn-danger" (click)="dangerModal.hide();deleteAlert();">Delete</button>
      </div>
    </div>
  </div>
</div>