<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="medium" color="#fff" type="ball-scale-multiple">
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
<ng2-toasty [position]="'top-right'"></ng2-toasty>
<!-- <button class="btn btn-primary submit-button" (click)="clockInTime();" [disabled]="true ">Clock
  In</button> -->
<div class="card-body">
  <div class="form-group row">
    <label class="col-md-1 col-form-label" for="text-input"><b>Studio:</b></label>
    <div class="col-md-2">
      <select class="form-control" name="studio" id="studio" [(ngModel)]="studioId" (click)="studioDetails()">
        <option value="undefined">Select Studio</option>
        <option *ngFor="let data of studioIdData" [ngValue]="data.studioid">{{data.studioid}}</option>
      </select>
    </div>
    <label class="col-md-1 col-form-label" for="text-input"><b>Location:</b></label>
    <div class="col-md-2">
      <select class="form-control" name="locatio" id="location" [(ngModel)]="locationId">
        <option value="undefined">Select Location</option>
        <option *ngFor="let loc of locationIdData" [ngValue]="loc.location">{{loc.location}}</option>
      </select>
    </div>
    <label class="col-md-1 col-form-label" for="text-input"><b>Record:</b></label>
    <div class="col-md-2">
      <select class="form-control" name="record" id="record" [(ngModel)]="selectedVal">
        <!-- <option value="undefined">Page Per Record</option> -->
        <option value="50">50</option>
        <option value="100">100</option>
        <option value="150">150</option>
      </select>
    </div>
    <div class="col-md-2">
      <button class="btn  btn-primary" (click)="userSearchData()"><b> search </b></button>
    </div>
  </div>
</div>

<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> User List
        </div>
        <div class="card-body">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>First Name </th>
                <th>Last Name</th>
                <th>Full Name</th>
                <th>Email </th>
                <th>mobile</th>
                <th>Gender</th>
                <th>City</th>
                <th>Location Name</th>
                <th>Studio Name</th>
                <th>Register Date</th>
              </tr>
            </thead>
            <tbody *ngFor="let item of pagedItems">
              <tr>
                <td>{{item.first_name }} </td>
                <td>{{ item.last_name }} </td>
                <td>{{item.fullname}}</td>
                <td>{{item.email_id }} </td>
                <td>{{ item.mobile }} </td>
                <td>{{item.gender}}</td>
                <td>{{item.city}}</td>
                <td>{{item.locationName }} </td>
                <td>{{ item.studioName }} </td>
                <td>{{ item.created_date | date: 'dd/MM/yyyy' }} </td>
              </tr>
            </tbody>
          </table>
          <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
            <li class="disable-text" [ngClass]="{disabled:pager.currentPage === 1}">
              <a (click)="setPage(1)">First</a>
            </li>
            <li class="disable-text" [ngClass]="{disabled:pager.currentPage === 1}">
              <a (click)="setPage(pager.currentPage - 1)">Previous</a>
            </li>
            <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
              <a (click)="setPage(page)">{{page}}</a>
            </li>
            <li class="disable-text" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
              <a (click)="setPage(pager.currentPage + 1)">Next</a>
            </li>
            <li class="disable-text" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
              <a (click)="setPage(pager.totalPages)">Last</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
  }

  .pagination>li {
    display: inline;
  }

  .pagination>li:first-child>a,
  .pagination>li:first-child>span {
    margin-left: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }

  .pagination>li>a,
  .pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
  }

  .pagination>.active>a,
  .pagination>.active>span,
  .pagination>.active>a:hover,
  .pagination>.active>span:hover,
  .pagination>.active>a:focus,
  .pagination>.active>span:focus {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #337ab7;
    border-color: #337ab7;
  }

  .pagination>li>a:hover,
  .pagination>li>span:hover,
  .pagination>li>a:focus,
  .pagination>li>span:focus {
    z-index: 2;
    color: #23527c;
    background-color: #eee;
    border-color: #ddd;
  }

  .btn.disabled,
  .btn[disabled],
  fieldset[disabled] .btn {
    cursor: not-allowed;
    filter: alpha(opacity=65);
    box-shadow: none;
    opacity: .65;
  }

  .disable-text.disabled,
  .disable-text[disabled] {
    cursor: not-allowed;
    filter: alpha(opacity=65);
    box-shadow: none;
    opacity: .65;
  }

  .disable-text.active,
  .disable-text[active] {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
  }
</style>