<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="medium" color="#fff" type="ball-scale-multiple">
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>

<ng2-toasty [position]="'top-right'"></ng2-toasty>


<div class="card-body">
  <div class="row">
    <div class="col-6 col-sm-4 col-md text-center">
      <button type="button" class="btn btn-primary" style="float: right;" (click)="redirectToBulk()"><i class="icon-envelope-open"></i>&nbsp;Upload
        MindBody Coupons</button>
    </div>
    <div class=" col-sm-1">
      <i class="fas fa-sync-alt" (click)="reloadClick()" style="color:orange;font-size: 20px;text-align:center;padding:5px;border:1px solid black;background: #ffff;border-radius: 5px;"></i>
    </div>
  </div>
</div>

<div bsModal #deleteCoupon="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true" [config]="{backdrop: 'static'}">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header" style="background-color:#EC8D8D">
        <h4 class="modal-title">Delete MindBody Coupons</h4>
        <button type="button" class="close" (click)="deleteCoupon.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure to Delete ?</p>
      </div>
      <div class="container">
        <table class="table table-bordered table-striped table-sm" style="padding:10px;">
          <thead>
            <tr>
              <th>Coupon Number</th>
              <th>Cost</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="deleteRecord">
              <td>{{deleteRecord.coupons_number}}</td>
              <td>{{deleteRecord.coupons_for}}</td>
              <td>{{deleteRecord.coupons_status}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="deleteCoupon.hide()">Close</button>
        <button type="button" class="btn btn-danger" (click)="deleteCoupon.hide();deleteAlert();">Delete</button>
      </div>
    </div>
  </div>
</div>

<div bsModal #editCoupon="bs-modal" class="modal fade" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="row">
        <div class="col-md-12">
          <div class="card" style="margin-bottom: 0;">
            <div class="card-header">
              <strong>Edit MindBody Coupons</strong>
              <button type="button" class="close" (click)="editCoupon.hide(); backupData()">&times;</button>

            </div>
            <div class="card-body">
              <form [formGroup]="couponsForm">
                <div class="form-group row">
                  <label class="col-md-3 col-form-label" for="text-input">Coupon Number<b style="color:red">*</b></label>
                  <div class="col-md-9">
                    <input type="text" name="couponno" id="couponno" maxlength="50" formControlName="Number" class="form-control"
                      placeholder="MindBody Number" [(ngModel)]="couponsDetails.coupons_number" [ngClass]="{ 'is-invalid': submitted && f.Number.errors }">
                    <div *ngIf="submitted && f.Number.errors" class="invalid-feedback">
                      <div *ngIf="f.Number.errors.required" style="color:red">Coupon Number is required</div>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-3 col-form-label" for="text-input">Cost<b style="color:red">*</b></label>
                  <div class="col-md-9">
                    <input type="text" name="couponcost" id="couponcost" maxlength="10" formControlName="Cost" class="form-control"
                      placeholder="cost" [(ngModel)]="couponsDetails.coupons_for" [ngClass]="{ 'is-invalid': submitted && f.Cost.errors }">
                    <div *ngIf="submitted && f.Cost.errors" class="invalid-feedback">
                      <div *ngIf="f.Cost.errors.required" style="color:red">Cost is required</div>
                    </div>
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-md-3 col-form-label" for="text-input">Status</label>
                  <div class="col-md-9">
                    <select class="form-control" name="couponstatus" id="couponstatus" [(ngModel)]="couponsDetails.coupons_status"
                      [(ngModel)]="showMoreControls" [ngModelOptions]="{standalone: true}">
                      <option value="1">Active</option>
                      <option value="0">In active</option>
                    </select>
                  </div>
                </div>
                <div class="form-group row">
                  <button class="btn btn-primary" style="margin-left:26%" (click)="updateCoupons()">Update</button>
                  &nbsp;&nbsp;
                  <button type="button" id="CloseButton" class="btn btn-secondary" (click)="editCoupon.hide(); backupData()">Close</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Mind Body Coupons
        </div>
        <div class="card-body">
          <p-table #dt [columns]="cols" [value]="couponsData" [paginator]="true" [rows]="10">
            <ng-template pTemplate="caption">
              <div style="text-align: right">
                <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                <input type="text" pInputText size="50" placeholder="Global Filter" (input)="dt.filterGlobal($event.target.value, 'contains')"
                  style="width:auto">
              </div>
            </ng-template>
            <ng-template pTemplate="header">
              <tr>
                <th *ngFor="let col of cols" [pSortableColumn]="col.field">
                  {{col.header}}
                  <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order"
                    ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                </th>
                <th>Edit</th>
                <th>Delete</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-i="rowIndex" let-data>
              <tr>
                <td *ngFor="let col of cols">
                  {{ col.type ? col.type.transform(data[col.field], col.arg1, col.arg2, col.arg3) : data[col.field] }}
                </td>
                <td href="#" data-toggle="modal" (click)="editCoupon.show();editCoupons(data,i)"><i class="fa fa-edit"
                    style="color:orange;font-size: 20px;text-align:center"></i></td>
                <td href="#" data-toggle="modal" (click)="deleteCoupon.show();deleteCoupons(data,i)"><i class="fa fa-trash"
                    style="color:red;font-size: 20px"></i></td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
  </div>
</div>