<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="medium" color="#fff" type="ball-scale-multiple">
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>

<div class="card-body">
  <div class="row">
    <div class="col-6 col-sm-4 col-md text-center">
      <button type="button" class="btn btn-primary" style="float: right;" (click)="redirectToBulk()"><i class="icon-envelope-open"></i>&nbsp;Upload
        MindBody Coupons</button>
    </div>
  </div>
</div>

<div bsModal #deleteCoupon="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header" style="background-color:#EC8D8D">
        <h4 class="modal-title">Delete MindBody Coupons</h4>
        <button type="button" class="close" (click)="deleteCoupon.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure to Delete ?</p>
      </div>
      <div class="container">
        <table class="table table-bordered table-striped table-sm" style="padding:10px;">
          <thead>
            <tr>
              <th>Coupon Number</th>
              <th>Cost</th>
              <th>Status</th>
              <th>Type</th>
              <th>Start Date</th>
              <th>End Date</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="deleteRecord">
              <td>{{deleteRecord.coupons_number}}</td>
              <td>{{deleteRecord.coupons_for}}</td>
              <td>{{deleteRecord.coupons_status}}</td>
              <td>{{deleteRecord.coupons_type}}</td>
              <td>{{deleteRecord.coupons_startdate}}</td>
              <td>{{deleteRecord.coupons_enddate}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="deleteCoupon.hide()">Close</button>
        <button type="button" class="btn btn-danger" (click)="deleteCoupon.hide();deleteAlert();">Delete</button>
      </div>
    </div>
  </div>
</div>


<div bsModal #editCoupon="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="row">
        <div class="col-md-12">
          <div class="card" style="margin-bottom: 0;">
            <div class="card-header">
              <strong>Edit MindBody Coupons</strong>
            </div>
            <div class="card-body">
              <form [formGroup]="couponsForm">
                <div class="form-group row">
                  <label class="col-md-3 col-form-label" for="text-input">Coupon Number<b style="color:red">*</b></label>
                  <div class="col-md-9">
                    <input type="text" maxlength="50" formControlName="Number" class="form-control" placeholder="MindBody Number"
                      [(ngModel)]="editData.coupons_number" [ngClass]="{ 'is-invalid': submitted && f.Number.errors }">
                    <div *ngIf="submitted && f.Number.errors" class="invalid-feedback">
                      <div *ngIf="f.Number.errors.required" style="color:red">Coupon Number is required</div>
                    </div>
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-md-3 col-form-label" for="text-input">Cost<b style="color:red">*</b></label>
                  <div class="col-md-9">
                    <input type="text" maxlength="10" formControlName="Cost" class="form-control" placeholder="cost"
                      [(ngModel)]="editData.coupons_for" [ngClass]="{ 'is-invalid': submitted && f.Cost.errors }">
                    <div *ngIf="submitted && f.Cost.errors" class="invalid-feedback">
                      <div *ngIf="f.Cost.errors.required" style="color:red">Cost is required</div>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <button class="btn btn-primary" style="margin-left:26%" (click)="onSubmit()">Update</button>
                  &nbsp;&nbsp;
                  <button type="button" id="CloseButton" class="btn btn-secondary" (click)="editCoupon.hide();">Close</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div *ngFor="let alert of alertsDismiss">
  <b>
    <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout">{{ alert.msg }}</alert>
  </b>
</div>

<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Mind Body Coupons
        </div>
        <div class="card-body">
          <table class="table table-bordered table-striped table-sm">
            <thead>
              <tr>
                <th>Coupon Number</th>
                <th>Cost</th>
                <th>Status</th>
                <th>Type</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Edit</th>
                <th>Delete</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of couponsData | paginate: { itemsPerPage: 10, currentPage: p };let i = index">
                <td>{{item.coupons_number}}</td>
                <td>{{item.coupons_for}}</td>
                <td>{{item.coupons_status}}</td>
                <td>{{item.coupons_type}}</td>
                <td>{{item.coupons_startdate}}</td>
                <td>{{item.coupons_enddate}}</td>
                <td> <button class="btn-primary" data-toggle="modal" (click)="editCoupon.show();editCoupons(item,i)"><i
                      class="fa fa-edit"></i></button></td>
                <td> <button class="btn-danger" data-toggle="modal" (click)="deleteCoupon.show();deleteCoupons(item,i)"><i
                      class="fa fa-trash"></i></button></td>
              </tr>
              <tr *ngIf="!couponsData || couponsData.length ==0">
                No Records Found
              </tr>
            </tbody>
          </table>
          <pagination-controls (pageChange)="p = $event"></pagination-controls>
          <!-- <div class="col-xs-12 col-12">
            <pagination [totalItems]="bigTotalItems" [(ngModel)]="bigCurrentPage" [maxSize]="maxSize" class="pagination-sm"
                        previousText="&lsaquo;" nextText="&rsaquo;" [boundaryLinks]="true"></pagination>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>