<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="medium" color="#fff" type="ball-scale-multiple">
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-6 col-lg-3" style="cursor: pointer">
      <div class="card text-white bg-primary" routerLink="/users">
        <div class="card-body pb-0">
          <div class="text-value" *ngIf="completeDashboardData">{{this.completeDashboardData.totaluser }}</div>
          <div>Total Users</div>
        </div>
        <div class="chart-wrapper mt-3 mx-3" style="height:70px;">
          <a><i class="fa fa-users fa-lg mt-4 fa-3x"></i></a>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-lg-3" style="cursor: pointer">
      <div class="card text-white bg-info" routerLink="/testmonials/video">
        <div class="card-body pb-0">
          <div class="text-value" *ngIf="completeDashboardData">{{completeDashboardData.videototal}}</div>
          <div>Total Video Testmonials</div>
        </div>
        <div class="chart-wrapper mt-3 mx-3" style="height:70px;">
          <i class="fa fa-video-camera fa-lg mt-4 fa-3x"></i>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-lg-3" style="cursor: pointer">
      <div class="card text-white bg-warning" routerLink="/testmonials/written">
        <div class="card-body pb-0">
          <div class="text-value" *ngIf="completeDashboardData">{{completeDashboardData.writtentotal}}</div>
          <div>Total Written Testmonials</div>
        </div>
        <div class="chart-wrapper mt-3" style="height:70px;">
          <i class="fa fa-comments-o fa-lg mt-4 fa-3x" style="margin-left: 15px;"></i>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-lg-3" style="cursor: pointer">
      <div class="card text-white bg-danger" routerLink="/refferal-rewards/user-activities">
        <div class="card-body pb-0">
          <div class="text-value" *ngIf="completeDashboardData">{{completeDashboardData.refferaltotal}}</div>
          <div>Total User Activities</div>
        </div>
        <div class="chart-wrapper mt-3 mx-3" style="height:70px;">
          <i class="fa fa-vcard-o fa-lg mt-4 fa-3x"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 col-lg-3" style="cursor: pointer">
      <div class="card text-white bg-primary" routerLink="/beauty-tips">
        <div class="card-body pb-0">
          <div class="text-value" *ngIf="completeDashboardData">{{completeDashboardData.totalbeautytip}}</div>
          <div>Total Beauty Tips / Hot Deal</div>
        </div>
        <div class="chart-wrapper mt-3 mx-3" style="height:70px;">
          <i class="fa fa-lightbulb-o fa-lg mt-4 fa-3x"></i>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-lg-3" style="cursor: pointer">
      <div class="card text-white bg-warning" routerLink="/refferal-rewards/perks">
        <div class="card-body pb-0">
          <div class="text-value" *ngIf="completeDashboardData">{{completeDashboardData.perktotal}}</div>
          <div>Total Perks </div>
        </div>
        <div class="chart-wrapper mt-3" style="height:70px;">
          <i class="fa fa-envelope-open-o fa-lg mt-4 fa-3x" style="margin-left: 15px;"></i>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-lg-3" style="cursor: pointer">
      <div class="card text-white bg-danger" routerLink="/mindbody-coupons">
        <div class="card-body pb-0">
          <div class="text-value" *ngIf="completeDashboardData">{{completeDashboardData.totalcoupon}}</div>
          <div>Total Mind Body Coupons</div>
        </div>
        <div class="chart-wrapper mt-3 mx-3" style="height:70px;">
          <i class="fa fa-envelope-open-o fa-lg mt-4 fa-3x"></i>

        </div>
      </div>
    </div>
    <div class="col-sm-6 col-lg-3" style="cursor: pointer">
      <div class="card text-white bg-warning" routerLink="/testmonials/written" [queryParams]="{ rating: 3 }">
        <div class="card-body pb-0">
          <div class="text-value" *ngIf="completeDashboardData">{{completeDashboardData.writtentotalless3}}</div>
          <div>Total Testmonials Rating < 3 </div> </div> <div class="chart-wrapper mt-3" style="height:70px;">
              <i class="fa fa-comments-o fa-lg mt-4 fa-3x" style="margin-left: 15px;"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-sm-5">
            <h4 class="card-title mb-0">Refferal Rewards Points For Last 30 Days</h4>
          </div>
          <div class="col-sm-7 d-none d-md-block">
            <div class="btn-group btn-group-toggle float-right mr-3" data-toggle="buttons">
            </div>
          </div>
        </div>

        <div class="chart-wrapper" style="height:300px;margin-top:40px;">
          <canvas baseChart class="chart" [datasets]="mainChartData" [labels]="mainChartLabels"
            [options]="mainChartOptions" [colors]="mainChartColours" [legend]="mainChartLegend"
            [chartType]="mainChartType"></canvas>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            Recent Users
          </div>
          <div class="card-body">
            <br />
            <table class="table table-bordered table-striped table-sm">
              <thead>
                <tr>
                  <th>User</th>
                  <th>Email ID</th>
                  <th>Mobile</th>
                  <th>Gender</th>
                  <th>Studio Name</th>
                  <th>User Id</th>
                  <th>Registred Date</th>
                </tr>
              </thead>
              <tbody *ngIf="completeDashboardData">
                <tr *ngFor="let recentUsers of completeDashboardData.userlist ">
                  <td>{{recentUsers.fullname}}</td>
                  <td>{{recentUsers.email_id}}</td>
                  <td>{{recentUsers.mobile}}</td>
                  <td>{{recentUsers.gender}}</td>
                  <td>{{recentUsers.studioName}}</td>
                  <td>{{recentUsers.mindbody_id}}</td>
                  <td>{{recentUsers.dateCreated | date: 'dd/MM/yyyy'}}</td>
                </tr>
                <tr *ngIf="!completeDashboardData.userlist || completeDashboardData.userlist.length ==0">
                  No Records Found
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>