<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="medium" color="#fff" type="ball-scale-multiple">
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>

<ng2-toasty [position]="'top-right'"></ng2-toasty>

<div class="form-group row">
  <label class="col-md-2 col-form-label" for="select2"><b>Select User</b></label>
  <div class="col-md-4">
    <input type="text" class="form-control" [(ngModel)]="selectedValue"
      placeholder="Enter Email Id / Mindbody Id / Mobile" (keyup)='doDelayedSearch(selectedValue)' name="" id="">
  </div>
  <div style="color:red" *ngIf="noResult">No Results Found</div>
</div>

<div style="color:red" *ngIf="noDataFound">
  <h1>No Data Found</h1>
</div>

<div class="animated fadeIn" *ngIf="tableStatus">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-sm-3">
              <i class="fa fa-align-justify"></i>Add User Points
            </div>
            <div class="col-sm-4"></div>

          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-8">
              <label><b>Total User Points:</b></label>&nbsp;&nbsp;
              <label style="color: crimson;font-size: 18px;"> {{totalPoints}}</label>
            </div>

            <div class="col-md-2">
              <button type="button" name="addpoint" id="addpoint" (click)="addPoints.show();getUserId();add('1')"
                class="btn btn-success" style="float: right;padding: 3px;"><i class="far fa-plus-square"></i>&nbsp; Add
                Points</button>
            </div>
            <div class="col-md-2">
              <button type="button" name="removepoint" id="removepoint" (click)="addPoints.show();getUserId();add('0')"
                class="btn btn-danger" style="float: right;padding: 3px"><i class="far fa-minus-square"></i>&nbsp;Remove
                Points</button>
            </div>
          </div>

          <p-table #dt [columns]="cols" [value]="selectedOption" [paginator]="true" [rows]="4">
            <ng-template pTemplate="caption">
              <div style="text-align: right">
                <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                <input type="text" pInputText size="50" placeholder="Global Filter"
                  (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
              </div>
            </ng-template>
            <ng-template pTemplate="header">
              <tr>
                <th *ngFor="let col of cols" [pSortableColumn]="col.field">
                  {{col.header}}
                  <p-sortIcon [field]="col.field" ariaLabel="Activate to sort"
                    ariaLabelDesc="Activate to sort in descending order"
                    ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-i="rowIndex" let-data>
              <tr>
                <td *ngFor="let col of cols">
                  {{ col.type ? col.type.transform(data[col.field], col.arg1, col.arg2, col.arg3) : data[col.field] }}
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
  </div>
</div>

<div bsModal #addPoints="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true" [config]="{backdrop: 'static'}">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="row">
        <div class="col-md-12">
          <div class="card" style="margin-bottom: 0;">
            <div class="card-header">
              <strong *ngIf="toAdd">Add Points</strong>
              <strong *ngIf="toRemove">Remove Points</strong>
              <button type="button" class="close" (click)="addPoints.hide();removeFields()">&times;</button>
            </div>
            <div class="card-body">
              <form [formGroup]="pointsForm">
                <div class="form-group row">
                  <label class="col-md-3 col-form-label" for="text-input">User ID<b style="color:red">*</b></label>
                  <div class="col-md-9">
                    <input type="text" maxlength="50" class="form-control" [(ngModel)]="userPointsData.user_id"
                      [(ngModel)]="showMoreControls" [ngModelOptions]="{standalone: true}" readonly>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-3 col-form-label" for="text-input">Location Id<b style="color:red">*</b></label>
                  <div class="col-md-9">
                    <input type="text" maxlength="50" class="form-control" [(ngModel)]="userPointsData.location"
                      [(ngModel)]="showMoreControls" [ngModelOptions]="{standalone: true}" readonly>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-3 col-form-label" for="text-input">Location Name<b
                      style="color:red">*</b></label>
                  <div class="col-md-9">
                    <input type="text" maxlength="50" class="form-control" [(ngModel)]="userPointsData.locationName"
                      [(ngModel)]="showMoreControls" [ngModelOptions]="{standalone: true}" readonly>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-3 col-form-label" for="text-input">Studio Id<b style="color:red">*</b></label>
                  <div class="col-md-9">
                    <input type="text" maxlength="50" class="form-control" [(ngModel)]="userPointsData.studioid"
                      [(ngModel)]="showMoreControls" [ngModelOptions]="{standalone: true}" readonly>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-3 col-form-label" for="text-input">Studio Name<b style="color:red">*</b></label>
                  <div class="col-md-9">
                    <input type="text" maxlength="50" class="form-control" [(ngModel)]="userPointsData.studioName"
                      [(ngModel)]="showMoreControls" [ngModelOptions]="{standalone: true}" readonly>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-3 col-form-label" for="text-input">Employee Name
                    <b style="color:red">*</b></label>
                  <div class="col-md-9">
                    <input type="text" maxlength="50" class="form-control" [(ngModel)]="userPointsData.employeeName"
                      [(ngModel)]="showMoreControls" [ngModelOptions]="{standalone: true}" readonly>
                  </div>
                </div>

                <div *ngIf="toAdd">
                  <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="text-input">Add Points<b style="color:red">*</b></label>
                    <div class="col-md-9">
                      <input type="text" maxlength="50" formControlName="Points" class="form-control"
                        placeholder="Add Points" [(ngModel)]="addUserPoints"
                        [ngClass]="{ 'is-invalid': submitted && f.Points.errors }">
                      <div *ngIf="submitted && f.Points.errors" class="invalid-feedback">
                        <div *ngIf="f.Points.errors.required" style="color:red">Points is required</div>
                      </div>
                    </div>
                  </div>
                </div>

                <div *ngIf="toRemove">
                  <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="text-input">Remove Points<b
                        style="color:red">*</b></label>
                    <div class="col-md-9">
                      <input type="text" maxlength="50" formControlName="Points" class="form-control"
                        [(ngModel)]="removeUserPoints" [ngClass]="{ 'is-invalid': submitted && f.Points.errors }">
                      <div *ngIf="submitted && f.Points.errors" class="invalid-feedback">
                        <div *ngIf="f.Points.errors.required" style="color:red">Points is required</div>
                      </div>
                    </div>
                  </div>
                </div>


                <div class="form-group row">
                  <label class="col-md-3 col-form-label" for="text-input">Remarks<b style="color:red">*</b></label>
                  <div class="col-md-9">
                    <textarea type="text" maxlength="500" rows="5" class="form-control" formControlName="Remarks"
                      placeholder=" Enter Remarks" [(ngModel)]="userRemark"
                      [ngClass]="{ 'is-invalid': submitted && f.Remarks.errors }"></textarea>
                    <div *ngIf="submitted && f.Remarks.errors" class="invalid-feedback">
                      <div *ngIf="f.Remarks.errors.required" style="color:red">Remarks is required</div>
                    </div>
                  </div>
                </div>
                <button style="margin-left: 26%;" class="btn btn-primary" *ngIf="toAdd"
                  (click)="addPoint()">ADD</button>

                <button style="margin-left: 26%;" class="btn btn-danger" *ngIf="toRemove"
                  (click)="addPoint()">Remove</button>
                &nbsp;&nbsp;
                <button type="button" id="CloseButton" class="btn btn-secondary"
                  (click)="addPoints.hide();removeFields()">Close</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="form-popup" *ngIf="popupStatus" style="display:contents">
  <form class="form-container" style="margin-left: 185px;
    margin-top: -16px;">
    <table>
      <thead>
        <tr>
          <th>User Details</th>
          <th>Select</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of userInfo">
          <td> {{user.alldetails}}</td>
          <td> <input type="radio" name="" id="" (click)="getUserData(user)"> </td>
        </tr>
      </tbody>
    </table>
  </form>
</div>

<style>
  table,
  td,
  th {
    border: 1px solid #ddd;
    text-align: left;
  }

  table {
    border-collapse: collapse;
    width: 100%;
  }

  th,
  td {
    padding: 15px;
  }

  tr:hover {
    background-color: #f5f5f5;
  }

  tr:nth-child(even) {
    background-color: #f2f2f2
  }

  ;

  .open-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
  }

  /* The popup form - hidden by default */
  .form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
  }

  /* Add styles to the form container */
  .form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
  }

  /* Full-width input fields */
  .form-container input[type=text],
  .form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }

  /* When the inputs get focus, do something */
  .form-container input[type=text]:focus,
  .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }

  /* Set a style for the submit/login button */
  .form-container .btn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8;
  }

  /* Add a red background color to the cancel button */
  .form-container .cancel {
    background-color: red;
  }

  /* Add some hover effects to buttons */
  .form-container .btn:hover,
  .open-button:hover {
    opacity: 1;
  }
</style>