<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="medium" color="#fff" type="ball-scale-multiple">
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>

<ng2-toasty [position]="'top-right'"></ng2-toasty>


<div class="card-body">
  <div class="row">
    <div class="col-6 col-sm-4 col-md text-center">
      <button type="button" name="createactivity" id="createactivity" (click)="removeFields();addOrEditActivity.show();"
        class="btn btn-primary" style="float: right;"><i class="fa fa-lightbulb-o"></i>&nbsp;Add Activity</button>
    </div>
    <div class=" col-sm-1">
      <i class="fas fa-sync-alt" (click)="reloadClick()" style="color:orange;font-size: 20px;text-align:center;padding:5px;border:1px solid black;background: #ffff;border-radius: 5px;"></i>
    </div>
  </div>
</div>

<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> User Activities
          <span> <i (click)="exportAsXLSX()" class="fa fa-file-excel-o" style="font-size:24px;color:blue;margin-right: 20px;cursor: pointer; float:right"></i></span>
          <span> <i (click)="pdfDownload()" class="fa fa-file-pdf-o" style="font-size:24px;color:red; margin-right: 15px;cursor: pointer; float:right"></i></span>
        </div>
        <div class="card-body">
          <p-table #dt [columns]="cols" [value]="userActivitiesData" [paginator]="true" [rows]="4">
            <ng-template pTemplate="caption">
              <div style="text-align: right">
                <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                <input type="text" pInputText size="50" placeholder="Global Filter" (input)="dt.filterGlobal($event.target.value, 'contains')"
                  style="width:auto">
              </div>
            </ng-template>
            <ng-template pTemplate="header">
              <tr>
                <th *ngFor="let col of cols" [pSortableColumn]="col.field">
                  {{col.header}}
                  <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order"
                    ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                </th>
                <th>Edit</th>
                <th>Delete</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-i="rowIndex" let-data>
              <tr>
                <td *ngFor="let col of cols">
                  {{ col.type ? col.type.transform(data[col.field], col.arg1, col.arg2, col.arg3) : data[col.field] }}
                </td>
                <td href="#" data-toggle="modal" (click)="addOrEditActivity.show();editUserActivity(data,i)"><i class="fa fa-edit"
                    style="color:orange;font-size: 20px;text-align:center"></i></td>
                <td href="#" data-toggle="modal" (click)="deleteActivity.show();deleteUserActivity(data,i)"><i class="fa fa-trash"
                    style="color:red;font-size: 20px"></i></td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
  </div>
</div>

<div bsModal #addOrEditActivity="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true" [config]="{backdrop: 'static'}">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="row">
        <div class="col-md-12">
          <div class="card" style="margin-bottom: 0;">
            <div class="card-header">
              <strong *ngIf="!userActivity.activity_id">Add User Activity</strong>
              <strong *ngIf="userActivity.activity_id">Edit User Activity</strong>
              <button type="button" class="close" (click)="addOrEditActivity.hide(); backupData()">&times;</button>
            </div>
            <div class="card-body">
              <form [formGroup]="activityForm">
                <div class="form-group row">
                  <label class="col-md-3 col-form-label" for="text-input">Name<b style="color:red">*</b></label>

                  <div class="col-md-9">
                    <input type="text" name="activityname" id="activityname" formControlName="activityName" class="form-control"
                      placeholder="User Activity Name" [(ngModel)]="userActivity.activity_name" [ngClass]="{ 'is-invalid': submitted && f.activityName.errors }">
                    <div *ngIf="submitted && f.activityName.errors" class="invalid-feedback">
                      <div *ngIf="f.activityName.errors.required" style="color:red">Activity name is required</div>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-3 col-form-label" for="text-input">Points<b style="color:red">*</b></label>
                  <div class="col-md-9">
                    <input type="text" name="activitypoints" id="activitypoints" maxlength="10" formControlName="Points"
                      class="form-control" placeholder="Activity Points" [(ngModel)]="userActivity.activity_points"
                      [ngClass]="{ 'is-invalid': submitted && f.Points.errors }">
                    <div *ngIf="submitted && f.Points.errors" class="invalid-feedback">
                      <div *ngIf="f.Points.errors.required" style="color:red">Points is required</div>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-3 col-form-label" for="text-input">Description</label>
                  <div class="col-md-9">
                    <input type="text" name="activitydesc" id="activitydesc" maxlength="100" class="form-control"
                      placeholder="Activity Description" [(ngModel)]="userActivity.activity_desc" [(ngModel)]="showMoreControls"
                      [ngModelOptions]="{standalone: true}">
                    <!-- <div *ngIf="submitted && f.Description.errors" class="invalid-feedback">
                      <div *ngIf="f.Description.errors.required" style="color:red">Description is required</div>
                    </div> -->
                  </div>
                </div>
                <div *ngIf="userActivity.activity_id">
                  <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="text-input">Code</label>
                    <div class="col-md-9">
                      <input type="text" name="activitycode" id="activitycode" maxlength="10" class="form-control"
                        placeholder="Activity code" [(ngModel)]="userActivity.activity_code" [(ngModel)]="showMoreControls"
                        [ngModelOptions]="{standalone: true}" readonly>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-3 col-form-label" for="text-input">Start Date<b style="color:red">*</b></label>
                  <div class="col-md-9">
                    <input type="date" name="startdate" id="startdate" maxlength="10" formControlName="StartDate" class="form-control"
                      placeholder="Activity StartDate" [(ngModel)]="userActivity.activity_start_date" [ngClass]="{ 'is-invalid': submitted && f.StartDate.errors }">
                    <div *ngIf="submitted && f.StartDate.errors" class="invalid-feedback">
                      <div *ngIf="f.StartDate.errors.required" style="color:red">StartDate is required</div>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-3 col-form-label" for="text-input">End Date<b style="color:red">*</b></label>
                  <div class="col-md-9">
                    <input type="date" name="enddate" id="enddate" maxlength="10" formControlName="EndDate" class="form-control"
                      placeholder="Activity EndDate" [(ngModel)]="userActivity.activity_end_date" [ngClass]="{ 'is-invalid': submitted && f.EndDate.errors }">
                    <div *ngIf="submitted && f.EndDate.errors" class="invalid-feedback">
                      <div *ngIf="f.EndDate.errors.required" style="color:red">EndDate is required</div>
                    </div>
                  </div>
                </div>
                <div *ngIf="userActivity.activity_id">
                  <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="text-input">Status</label>
                    <div class="col-md-9">
                      <select class="form-control" name="activitystatus" id="activitystatus" [(ngModel)]="userActivity.activity_status"
                        [(ngModel)]="showMoreControls" [ngModelOptions]="{standalone: true}">
                        <option value="1">Active</option>
                        <option value="0">In active</option>
                      </select>
                    </div>
                  </div>
                </div>
                <span *ngIf="!userActivity.activity_id">
                  <button name="addactivity" id="addactivity" style="margin-left: 26%;" class="btn btn-primary" (click)="addOrUpdateUserActivity()">ADD</button>
                </span>
                <span *ngIf="userActivity.activity_id">
                  <button name="updateactivity" id="updateactivity" style="margin-left: 26%;" class="btn btn-primary"
                    (click)="addOrUpdateUserActivity()">Update</button>
                </span>
                &nbsp;&nbsp;
                <button type="button" id="CloseActivity" class="btn btn-secondary" (click)="addOrEditActivity.hide(); backupData()">Close</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div bsModal #deleteActivity="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true" [config]="{backdrop: 'static'}">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header" style="background-color:#EC8D8D">
        <h4 class="modal-title">Delete FAQ's</h4>
        <button type="button" class="close" (click)="deleteActivity.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure to Delete ?</p>
      </div>
      <div class="container">
        <table class="table table-bordered table-striped table-sm" style="padding:10px;">
          <thead>
            <tr>
              <th>Name</th>
              <th>Points</th>
              <th>Description</th>
              <th>Start Date</th>
              <th>End Date</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="deleteRecord">
              <td>{{deleteRecord.activity_name}}</td>
              <td>{{deleteRecord.activity_points}}</td>
              <td>{{deleteRecord.activity_desc}}</td>
              <td>{{deleteRecord.activity_start_date | date:'mediumDate'}}</td>
              <td>{{deleteRecord.activity_end_date | date:'mediumDate'}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="deleteActivity.hide()">Close</button>
        <button type="button" class="btn btn-danger" (click)="deleteActivity.hide();deleteAlert();">Delete</button>
      </div>
    </div>
  </div>
</div>